<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Вопрос-ответ</title>
</head>
<body>
<h1>Вопрос-ответ</h1>
<form>
    <h2>[[${question.getTitle}]]</h2>
    <ul>
        <li th:each="answer : ${answers}">
            <label><input type="radio" name="answer" value="[[${answer.id}]]"> [[${answer.text}]]</label><br>

        </li>
    </ul>
    <input type="submit" value="Проверить" onclick="checkAnswer()">
</form>

<script>
    // Функция для проверки правильности ответа
    function checkAnswer() {
        // Получаем выбранный ответ
        var answer = document.querySelector('input[name="answer"]:checked');

        // Если ответ правильный, то обновляем страницу для следующего вопроса
        if (answer.valueAsString == [[${question.correctAnswer}]]) {
            alert("Правильный ответ");
            window.location.reload();
        }
        // Иначе показываем правильный ответ и обновляем страницу для следующего вопроса
        else {
            alert("Неправильный ответ. Правильный ответ: [[${question.correctAnswer}]]");
            window.location.reload();
        }
    }
</script>

</body>
</html>

